<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}House Arrangements{% endblock %}</title>
  {% load static %}
  {% block stylesheets %} <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock stylesheets %}
</head>
<body>
  <nav>
    {% block navigation %}
      <ul>
        <li>
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'house_list' %}">Houses</a>
        </li>
      </ul>
    {% endblock %}
  </nav>
  {% block content %}{% endblock %}
</body>

{% block scripts %}{% endblock %}
{% block root_scripts %}
  {% load static %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="{% static '/js/index.js' %}" charset="utf-8"></script>
{% endblock root_scripts %}
</html>
