{% extends 'base.html' %}

{% block content %}
  <h1>House Arrangements</h1>
  <div class="houses">
  <h2>Houses</h2>
    {% for house in houses %}
      <div id="house-{{ house.id }}" class="house">
        <em>{{ house }}</em>
        <ul>
        {% for spot in house.guest_spots.all %}
          <li class="{{spot.spot_type}}">
            <span>{{spot.spot_type}}</span>
            <div class="container spot-container">
              {% if spot.person.id is not None %}
                <span id="person-{{person.id}}">{{spot.person}}</span>
              {% endif %}
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    {% endfor %}

  </div>
  <div id="house-none" class="people">
    <h2>Unhoused Persons</h2>
    <div class="people-container container">
      {% for person in people.all %}
        <div id="person-{{person.id}}">{{person}}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endblock %}
