/* RGB */
$color1: rgba(184, 196, 128, 1);
$color2: rgba(53, 96, 90, 1);
$color3: rgba(40, 146, 215, 1);
$color4: rgba(181, 68, 110, 1);
$color5: rgba(156, 153, 144, 1);

$bg-color: $color2;
$second-color: lighten($color2, 5%);
$third-color: lighten($color2, 10%);
$main-color: lighten($color2, 40%);

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.container {
  min-height: 10px;
  min-width: 50px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $bg-color;
  color: $main-color;
}

.house {
  display: flex;
  flex-flow: column nowrap;
  width: 18%;
  margin-bottom: 10px;
  background-color: $second-color;
}

.house-name {
  margin: 10px;
}
.house-name > * {
  font-size: 1.2em;
  margin-right: 5px;
}

.house-icons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.house-icons > .disabled-icon {
  color: $third-color;
}
.no-house {
  position: absolute;
  right: 0%;
}
.spot > div {
  min-height: 1em;
  margin-top: 2px;
  margin-left: 5px;
}

.house > span {
  margin: 10px;
}
.spot {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: $third-color;
}

.spot:last-child {
  margin-bottom: 10px;
}
